<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Resultado</title>
</head>
<body>
<div class="container">
    <h2>Resultado</h2>
    <div id="result">
        <span class="circle">00</span>
    </div>
    <div class="input-group">
    </div>
    <button id="generate">Sortear Novamente</button>
</div>
</body>
</html>